.featured{
    margin: 8em 0;
    height: 100vh;
}

.featured > div:first-child{
    display: flex;
    justify-content: space-between;
}

.featured > div:last-child{
    display: flex;
    justify-content: space-between;
    height: 85%;
}

.featured > div:last-child > *{
    width: 30%;
}

@media (max-width: 1000px){
    .featured{
        height: auto;
    }
    .featured > div:last-child{
        flex-direction: column;
    }

    .featured > div:last-child > *{
        width: 100%;
        margin: 20px 0;
        padding: 60px 40px;
    }
}

@media (max-width: 700px){
    .featured{
        padding: 0 10%;
    }
    .featured > div:last-child > *{
        padding: 20% 10%;
    }
}