.heritage{
    display: flex;
    margin: 9.5em 0;
}

.heritageInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.heritageInfo > p:first-of-type{
    width: 50px;
    height: 5px;
    background-color: var(--very-light-grey);
    margin-bottom: 80px;
    border-radius: 5px;
}

@media(max-width: 1000px){
    .heritage{
        margin: 8em 0;
    }
    .heritage > img{
        display: none;
    }
    .heritageInfo > p:first-of-type{
        margin-bottom: 50px;
    }
}

@media(max-width: 700px){
    .heritage{
        padding: 0 10%;
    }
    .heritageInfo > p:first-of-type{
        display: none;
    }
}