.aboutTeam::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .50);
}

.aboutTeam{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    background-image: url('../../../assets/Home/Desktop/image-small-team-desktop.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.aboutTeam > *{
    position: relative;
    z-index: 1;
}

@media(max-width: 1000px){
    .aboutTeam{
        background-image: url('../../../assets/Home/Tablet/image-small-team-tablet.jpg');
    }
}

@media(max-width: 700px){
    .aboutTeam{
        background-image: url('../../../assets/Home/Mobile/image-small-team-mobile.jpg');
        padding: 0 10%;
    }
}