.aboutTeam::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .50);
}

.aboutTeam{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.aboutTeam > *{
    position: relative;
    z-index: 1;
}