.footer, .footer > div:first-child, .footer > div:last-child{
    display: flex;
}

.footer{
    height: 130px;
}

.footer > div:first-child{
    width: 12%;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.footer > div:last-child{
    width: 78%;
    background-color: var(--very-light-grey);
    position: relative;
}

.footer > div:last-child > *:last-child{
    position: absolute;
    right: -13%;
    align-self: center;
}