.footer, .footer > div:first-child, .footer > div:last-child{
    display: flex;
}

.footer{
    height: 130px;
    width: 83%;
    margin: auto;
}

.footer > div:first-child{
    width: 12%;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.footer > div:last-child{
    width: 78%;
    background-color: var(--very-light-grey);
    position: relative;
}

.footer > div:last-child > *:last-child{
    position: absolute;
    right: -13%;
    align-self: center;
}

@media(max-width: 1000px){
    .footer{
        width: 100%;
    }
}

@media(max-width: 700px){
    .footer{
        height: 25em;
        position: relative;
    }
    .footer > div:first-child{
        width: 20%;
        height: 30%;
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
    }
    .footer > div:last-child{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px 50px 50px 50px;
    }
    .footer > div:last-child > *:last-child{
        position: static;
    }
}