.contactDetails > img{
    width: 100%;
}

.offices, .offices > div:last-child{
    display: flex;
}

.offices{
    margin: 12em 0 10em 0;
}

.offices > div:first-child{
    flex: 1 1 30%;
    position: relative;
}

.offices > div:first-child > p{
    position: absolute;
    top: -25%;
    width: 50px;
    height: 5px;
    background-color: var(--very-light-grey);
    border-radius: 5px;
}

.offices > div:last-child{
    flex: 1 1 70%;
    display: flex;
}

.map{
    background-image: url('../../../assets/Contact/Desktop/image-map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25em;
}

@media(max-width: 1000px){
    .offices, .offices > div:last-child{
        flex-direction: column;
    }
    .map{
        background-image: url('../../../assets/Contact/Tablet/image-map.png');
    }
}

@media(max-width: 700px){
    .offices{
        margin: 8em 0;
        padding: 0 10%;
    }
    .offices > div:first-child > p{
        display: none;
    }
    .map{
        background-image: url('../../../assets/Contact/Mobile/image-map.png');
    }
}