@import url(./styles.css/skin.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--font);
  line-height: 1.8;
}

li{
  list-style: none;
}

a{
  color: var(--medium-grey);
  text-decoration: none;
}

h2{
  font-size: 2em;
}

h1{
  color: var(--very-light-grey);
  font-size: 10em;
}

button{
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1000px){
  h2{
    font-size: 3em;
  }
  h1{
    line-height: 1em;
  }
}